*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    float: right;
    padding: 1rem 2rem;
}

.burger{
    width: 33px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 4;
}

.line{
    height: 5px;
    width: 100%;
    background-color: black;
    position: absolute;
    transition: .3s;
}

.line1{
    transform: translateY(-10px);
}

.line3{
    transform: translateY(10px);
}

.active .line1{
    transform: translateY(0) rotate(45deg);
}

.active .line3{
    transform: translateY(0) rotate(-45deg);
}

.active .line2{
    transform: translateX(20px);
    visibility: hidden;
    animation-name: fade;
    animation-duration: .3s;
}

@keyframes fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.sidebar{
    height: 100vh;
    width: 25vw;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(-45vw);
    transition: 1.5s;
    clip-path: circle(10% at -10% 60%);
    position: absolute;
}

.sidebar a{
    text-decoration: none;
    margin: 3rem 0rem;
    color: white;
    text-transform: uppercase;
    font-family: "poppins",sans-serif;
    letter-spacing: 2px;
    border: 1px solid white;
    padding: .5rem 1rem;
    transition: .3s;
}

.sidebar a:hover{
    background: white;
    color: black;
}

.sidebar.active{
    transform: translateY(0);
    clip-path: circle(100%);
}

@media (max-width: 768px) {
    .sidebar{
        width: 100%;
        z-index: 3;
        transform: translateY(0);
        clip-path: none;
        transform: translateY(-100vh);
        transition: .6s;
    }
    .sidebar.active{
        transform: translateY(0vh);
    }
    .burger.active .line{
        background: white;
    }
}